body {
    background: linear-gradient(to right, #f2712c, #e31b1b);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.main {
    font-family: sans-serif;
}
.form-header {
    font-size: 24px;
    color: #333; 
    margin-bottom: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    max-width: 80%; 
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="email"]:focus {
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.form-group input[type="submit"] {
    background-color: #f2712c;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #e31b1b;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #f2712c;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-link a:hover {
    color: #e31b1b;
}
.field-validation-error {
    padding-bottom:5px;
}